# ESPHome & Home Automation Secrets
secrets.yaml
*.secret.yaml

# Data Exports
export_telecommandes_partial.json
export_telecommandes.json
harmony_config.json

# Python / Environment
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
merge_ir_database.py

# Docker / System
.DS_Store
Thumbs.db
.idea/
.vscode/